include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include epiuse_theme *.css
recursive-include epiuse_theme *.csv
recursive-include epiuse_theme *.html
recursive-include epiuse_theme *.ico
recursive-include epiuse_theme *.js
recursive-include epiuse_theme *.json
recursive-include epiuse_theme *.md
recursive-include epiuse_theme *.png
recursive-include epiuse_theme *.py
recursive-include epiuse_theme *.svg
recursive-include epiuse_theme *.txt
recursive-exclude epiuse_theme *.pyc